* {
    margin: 0;
    font-family: Arial;
    border: border-box;
    background-color: #F3F3F3;
}

/** header **/
header {
    display: flex;
}

.introduction {
    display: flex;
    height: 80px;
    width: 40%;
    align-items: center;
}

.name {
    width: 150px;
    height: 26px;
    margin-left: 20px;
}

.icon {
    height: 25px;
    width: 25px;
    background-color: #EEA302;
    /**border: 2px solid black;**/
    border-radius: 50%;
    margin-left: 40px;
}

.proffession {
    width: 200px;
    height: 20px;
    /**margin-left: 10px;**/
    margin-top: 6px;
    font-weight: lighter;
}

.panel-links {
    display: flex;
    width: 60%;
    height: 80px;
    align-items: center;
    /**justify-content: flex-end;**/
}

.resume {
    margin-left: 60%;
    border-right: 2px solid black;
    padding-right: 20px;
}

.projects {
    margin-left: 20px;
    border-right: 2px solid black;
    padding-right: 20px;
}

.contact {
    margin-left: 20px;
}

/** hero section **/
.hero-section {
    display: flex;
    justify-content: center;
    height: 800px;
}

.profile-photo {
    background-image: url("profile_photo.jpeg");
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 10%;
}

.greeting {
    margin-top: 10%;
}

.greet {
    font-size: 100px;
    font-weight: 700;
    margin-top: 12%;
    margin-left: 25px;
    width: 246px;
    height: 118px;
}

.about {
    font-size: 30px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 16px;
    width: 351px;
    height: 26px;
}

.about-me {
    width: 500px;
    height: 100px;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 13px;
    margin-left: 30px;
}

.circles {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;
}

.circle {
    /*border: 2px solid black;*/
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.circle:hover {
    background-color: white;
}

.yellow {
    background-color: #EEA302;
    text-align: center;
}

.red {
    background-color: #FF3B25;
    text-align: center;
    margin-left: 15px;
}

.blue {
    background-color: #80D8DA;
    text-align: center;
    margin-left: 15px;
}

.y-text {
    margin-top: 60px;
    background: none;
}

.r-text {
    margin-top: 60px;
    background: none;
}

.b-text {
    margin-top: 60px;
    background: none;
}

.link {
    text-decoration: none;
    color: black;
}

/** footer **/
.landing-page {
    border-top: 1px solid black;
    margin-left: 3%;
    margin-right: 3%;
    height: 183.4px;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.info {
    margin-top: 3%;
}

.phone a {
    margin-top: 20px;
}

.x {
    font-size: large;
    font-weight: bolder;
}

.follow i {
    margin-left: 10px;
}


/** heading **/
.heading {
    width: 500px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 2%;
    font-size: larger;
}

.box {
    border-bottom: 1px solid black;
    margin-left: 3%;
    margin-right: 3%;
}

.work-experience {
    width: 500px;
    height: 600px;
    margin-left: 12%;
    font-size: 2rem;
    font-weight: lighter;
}

.education {
    width: 500px;
    height: 400px;
    margin-left: 12%;
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 70px;
}

.skills {
    width: 500px;
    height: 400px;
    margin-left: 12%;
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 70px;
}

.box1 {
    display: flex;
}

.box2 {
    display: flex;
}

.box3 {
    display: flex;
}

.work-experience-details {
    width: 500px;
    height: 700px;
}

.duration1 {
    display: flex;
}

.duration {
    width: 150px;
    height: 19px;
}

.role1 {
    width: 300px;
    height: 21px;
    font-weight: 700;
    font-size: large;
}

.desc1 {
    margin-left: 30%;
    width: 340px;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 30px;
}

.Education-details {
    width: 500px;
    height: 100px;
    margin-top: 70px;
}

.info1 {
    display: flex;
}

.interval {
    width: 90px;
    height: 19px;
}

.degree1 {
    width: 265px;
    height: 42px;
    margin-left: 60px;
    font-weight: 700;
    font-size: large;
}

.deg-info {
    width: 352px;
    height: 100px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 30px;
}

.skills-details {
    width: 500px;
    height: 400px;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 30px;
}

.b {
    margin-bottom: 40px;
}

/** footer (resume) **/
.page2 {
    margin-left: 3%;
    margin-right: 3%;
    height: 183.4px;
}

/** projects **/
.project-details {
    width: 500px;
    height: 600px;
    margin-left: 14%;
}

.project {
    width: 209px;
    height: 30px;
    font-weight: 700;
    font-size: 1.5rem;
}

.details1 {
    margin-top: 5%;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 30px;
}

.hero {
    display: flex;
}

.img0 {
    width: 500px;
    height: 330px;
    background-size: cover;
    margin-left: 80px;
}

.img1 {
    background-image: url("project1.jpeg");
}

.img2 {
    background-image: url("project2.jpeg");
}

.img3 {
    background-image: url("project3.jpeg");
}

/** contacts **/
.heading-c {
    width: 371px;
    height: 50px;
    margin-left: 30%;
    margin-top: 12%;
    font-size: larger;
}
.caption {
    width: 371px;
    height: 30px;
    margin-left: 30%;
    margin-top: 2px;
}

.hero-contact {
    display: flex;
    height: 700px;
}

.c {
    margin-left: 30%;
}

.c1 {
    margin-top: 20px;
}

.hero-c {
    width: 740px;
    height: 600px;
}

.form-c {
    margin-top: 9%;
    margin-left: 100px;
    width: 480px;
    height: 461px;
}

.form-box {
    display: flex;
}

.search-input2 {
    margin-left: 40px;
}

.form-caption {
    display: flex;
}

.last {
    margin-left: 39%;
}

.last1 {
    margin-left: 45%;
}

.search {
    margin-top: 2%;
    width: 215px;
    height: 45px;
    padding: 3px 3px 3px 7px;
}

.c2 {
    margin-top: 5%;
}

.search1 {
    margin-top: 2%;
    width: 300px;
    height: 141px;
    padding: 12px 10px 3px 7px;
}

.big-box1 {
    display: flex;
}

.contact-circle {
    margin-left: 10px;
    margin-top: 10px;
}

.search:hover {
    border: 4px solid black;
}

.search1:hover {
    border: 4px solid black;
}
